<div id="background"></div>

<div class="reset-password-container">
    
    <form class="reset-pass-form" [formGroup]="newPasswordForm" (submit)="submitNewPasswordForm()">
        <img class="pynterest-logo" src="assets\images\pynterestLogoResized.png">
        <h3 class = "reset-pass-label"><strong>Reset password:</strong></h3>

        <!-- Password -->
        <mat-form-field class="password-input">
            <mat-label>Insert new password</mat-label>
            <input type="text" matInput formControlName="password" />
            <mat-error *ngIf="newPasswordForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
         <!-- Retype password -->
        <mat-form-field class="retype-password-input">
            <mat-label>Retype new password</mat-label>
            <input type="text" matInput formControlName="retypedPassword" />
            <mat-error *ngIf="newPasswordForm.get('retypedPassword').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button class="submit-button" [disabled]="!newPasswordForm.valid" type="submit">Submit</button>
        
    </form>
</div>