<div id="background"></div>

<div class="login-container">
    
    <form *ngIf="formOpened === 0"  class="login-form" [formGroup]="loginForm" (submit)="submitLoginForm()">
        <img class="pynterest-logo" src="assets\images\pynterestLogoResized.png">
        <h3 class = "login-label"><strong>Login:</strong></h3>

        <!-- Email -->
        <mat-form-field class="email-input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. mail@gmail.com" />
            <mat-error *ngIf="loginForm.get('email').hasError('email')&&!loginForm.get('email').hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
         <!-- Password -->
        <mat-form-field class="password-input">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button class="submit-button" [disabled]="!loginForm.valid" type="submit">Submit</button>
        
        <div class = "bottom-links">
            <p>Not a member? <a href="javascript:void(0)" (click)="changeRegisterForm()">Register</a></p>
            <p><a href="javascript:void(0)" (click)="resetPassword()">Forgot password?</a></p>
        </div>
       
    </form>

    <form *ngIf="formOpened === 1"  class="login-form" [formGroup]="registerForm" (submit)="submitRegisterForm()">
        <img class="pynterest-logo" src="assets\images\pynterestLogoResized.png">
        <h3 class = "login-label"><strong>Create new account:</strong></h3>

        <!-- Username -->
        <mat-form-field class="username-input">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" placeholder="Ex. Hossein Mousavi"/>
            <mat-error *ngIf="registerForm.get('username').hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!-- Full name -->
        <mat-form-field class="fullname-input">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullname" placeholder="Ex. Hossein Mousavi"/>
            <mat-error *ngIf="registerForm.get('fullname').hasError('required')">
                Full Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="email-input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. mail@gmail.com" />
            <mat-error *ngIf="registerForm.get('email').hasError('email')&&!registerForm.get('email').hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
         <!-- Password -->
        <mat-form-field class="password-input">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error *ngIf="registerForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

         <!-- Description -->
         <mat-form-field class="description-input">
            <mat-label>Description</mat-label>
            <input type="text" matInput formControlName="description" />
        </mat-form-field>

        <!-- DatePicker -->
        <mat-form-field class="date-input">
            <mat-label>Choose a date</mat-label>
            <input matInput formControlName="datepicker" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

       
        <!-- Photo -->
        <mat-form-field>
            <ngx-mat-file-input #removableInput formControlName="photo" accept="image/*" placeholder="Insert Profile Photo"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                <img src="assets/images/delete_24px.svg">
            </button>
        </mat-form-field>


        
        
        <button class="submit-button" [disabled]="!registerForm.valid" type="submit">Submit</button>

        <div class = "bottom-links">
            <p>Already have an account? <a href="javascript:void(0)" (click)="changeLoginForm()">Login</a></p>
        </div>

    </form>

    <form *ngIf="formOpened === 2"  class="login-form" [formGroup]="resetPasswordForm" (submit)="submitPasswordForm()">
    
        <img class="pynterest-logo" src="assets\images\pynterestLogoResized.png">
        <h3 class = "login-label"><strong>Reset password:</strong></h3>

        <!-- Email -->
        <mat-form-field class="email-input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. mail@gmail.com" />
            <mat-error *ngIf="registerForm.get('email').hasError('email')&&!registerForm.get('email').hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button class="submit-button" [disabled]="!resetPasswordForm.valid" type="submit">Submit</button>
        <div class = "bottom-links">
            <p>Are you done resetting password? Go back to <a href="javascript:void(0)" (click)="changeLoginForm()">Login</a></p>
        </div>

    </form>

    
</div>