<!-- <div id="background"> -->
<app-header></app-header>
<div class="profile-container">
  <div class="profile-info-container">
    <div class="profile-content shaddow">
      <div id="profile-photo-container">
        <div id="profile-photo">
          <img [src]="imageUrl">
        </div>
      </div>
      <div id="personal-info">
        <div id="name">
          {{user.fullname}}
        </div>
        <div id="username">
          {{user.username}}
        </div>
        <div id="network-content">
          <div id="sub-content">
            <button class="link" [disabled]="!hasFollowers()" (click)='openFollowersDialog()'>
              <div>{{getFollowersNumber()}} followers</div>
            </button>
          </div>
          <div>.</div>
          <div id="sub-content">
            <button class="link" [disabled]="!hasFollowing()" (click)='openFollowingDialog()'>
              <div>{{getFollowingNumber()}} following</div>
            </button>
          </div>
        </div>
        <div id="description">
          {{user.description}}
        </div>
      </div>
      <ng-container *ngIf="!isHisPage()">
        <ng-container *ngIf="isSubscribed();else unsub">
          <button class="sub-button" (click)="unfollow()">
            Unfollow
          </button>
        </ng-container>
        <ng-template #unsub>
          <button class="sub-button" (click)="follow()">
            Follow
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="profile-items-container">
    <div class="profile-content shaddow">
      <ng-container *ngIf="isHisPage()">
        <div class="add-content-buttons">
          <button mat-icon-button class="content-buttons" matTooltip="Add a new photo" [matTooltipPosition]="'above'"
            class="content-buttons" aria-label="Add a new photo" (click)="openAddPinDialog()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <button mat-icon-button (click)="openAddBoardDialog()" matTooltip="Add a new board"
            [matTooltipPosition]="'above'" class="content-buttons" aria-label="Add a new board">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </ng-container>
      <div class="change-content-buttons">
        <button>Photos</button>
        <button>Boards</button>
      </div>
    </div>

    <div class="photos-boards-container shaddow">

      <div>
        <div>

        </div>

        <div>

        </div>
      </div>
    </div>


  </div>

</div>
