@import '../../assets/styles/colors.scss';

.photos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  margin: 6%;
  margin-top: 2%;
}

.photo-card {
  border-color: white;
  border-radius: 7%;
  padding:2%;
  width: 100%;
}

.photo-file {
  width: 100%;
  height: auto;
  border-radius: 7%;
}

.photo-title {
  text-align: center;
  font-size: 18px;
  padding-top: 2%;
}

.content{
  padding-bottom: 10%;
}

.pin-button{
  opacity: 0;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border-radius:  0px 25px 25px 0px;
  background-color: $logoColor;
  color: $header-background;
  border: 3px $logoColor solid;
  width: 105px;
  height: 50px;

}

.board-button{
  opacity: 0;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px 0px 0px 25px;
  color: $logoColor;
  background: $header-background;
  border: 3px $header-background solid;
  width: 105px;
  height: 50px;

}

.photo-card:hover{
  cursor: zoom-in;
}
.photo-card:hover .pin-button, .photo-card:hover .board-button{
  opacity: 0.8;
}

.photo-card:hover  .board-button:hover, .photo-card:hover .pin-button:hover{
  opacity: 1;
}

.select-board-icon{
  vertical-align: middle;
}

.save-container{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {
  .photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}
@media (max-width: 850px) {

  .photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .save-container{
    .pin-button, .board-button{
      width: 90px;
      font-size: 14px;
    }
  }

}

@media only screen and (max-width: 480px) {
  .photos-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin:10%;
  }


}
