<app-header></app-header>
<div class="content">
  <div class="photos-container">
    <!-- <div *ngFor="let photo of photos">
      <mat-card class="photo-card" (click)="clickCard()">
        <img
          mat-card-md-image
          class="photo-file"
          [src]="getImageUrl(photo)"
        />

        <mat-card-content>
          <div class="photo-title">
            <b><p>{{photo.title}}</p></b>
          </div>
          <div class="save-container">

            <button mat-button class="board-button" >
              <div>
              Name
              <mat-icon class="select-board-icon">expand_more</mat-icon>
              </div>

            </button>
            <button mat-button class="pin-button">Save photo</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->
    <app-pin *ngFor="let photo of photos"
    title="{{photo.title}}"
    photo = "getImageUrl({{photo}})">
    </app-pin>
  </div>
</div>
