<div class="header-container">
    <div class="header-content">
        <div class="logo-container">
            <img (click)="goToHomePage()" src="../../../assets/images/pynterestLogoResized.png" alt="Logo">
        </div>
        <div class="search-bar-container">
            <div class="search-input">
            <input type="text" class="input" placeholder="What are you looking for?">
                <div class="autocom-box">
                    <!--Lista cu cuvintele de la autocomplete-->
                    <ng-container *ngIf="suggestions.length > 0;else empty">
                        <div class="suggestion" *ngFor="let suggestion of suggestions">
                            {{suggestion}}
                        </div>
                    </ng-container>
                   <ng-template class="no-results" #empty>
                       No results...
                   </ng-template>
                </div>
            </div>
            <input type="button" value="search" class="close-btn">
        </div>
            <div class="profile-content">
                <div class="profile-item">
                    <button class="interests-button" (click)="goToInterests()">
                        Interests
                    </button>
                </div>
                <div class="profile-item">
                    <button [class]="isMessagesPressed ? 'icon-button button-pressed' : 'icon-button'" (click)="toggleMessageButton()">
                        <mat-icon [matBadge]="messagesUnseen" [matBadgeHidden]="isMessageBadgeHidden()" matBadgeColor="warn">chat</mat-icon>
                    </button>
                </div>
                <div class="profile-item">
                    <button (click)="toUserProfile()" id="toProfile">
                        <div class="profile-photo">
                            <img [src]="imageUrl" alt="profile"> 
                        </div>
                    </button>
                </div>

                <div class="profile-item">
                    <button class="log-out" (click)="logOut()">Log out</button>
                </div>
        </div>
    </div>
    <ng-container *ngIf="isMessagesPressed">
        <div class="front-cover">
            <h3>Messages</h3>
            <ul class="messages">
                <!--TODO: after we finish with messages-->
            </ul>
        </div>
    </ng-container>
</div>
