<app-header></app-header>
<mat-card class="photo-card">
  <mat-card-content class="photo-card-content">
    <img mat-card-md-image class="photo-card-img" [src]="getImageUrl()" />


    <div class="photo-card-details">
      <div class="pin-detail">
      <div class="save-container">
        <button mat-button class="board-button" (click)="openBoardViewDialog()">
          <div>
            Name
            <mat-icon class="select-board-icon">expand_more</mat-icon>
          </div>
        </button>
        <button mat-button class="pin-button">Save photo</button>
      </div>
    </div>
      <div class="pin-detail">
        <div class="pin-title">
          <b
            ><p>{{ pin.title }}</p></b
          >
        </div>
      </div>
      <div class="pin-detail">
        <div class="pin-description">
          <b
            ><p>{{ pin.description }}</p></b
          >
        </div>
      </div>

      <div class="pin-detail">
        <div class="pin-user">
          <p></p>
        </div>
      </div>

      <div class="pin-detail">
        <div class="pin-comments">
          <div *ngFor=""></div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
