@import '../../../../assets/styles/colors.scss';

.container{
  display: flex;
  flex-direction: line;

}
.add-icon {
  vertical-align: middle;
  color: $logoColor;
}
.select-board-container{
  width: 60%;
  background-color: $header-background;
  border-radius: 20px 0px 0px 20px;
  border: 2px $logoColor solid;
}

.add-button {
  border: none;
  outline: none;
  background-color: white;
  text-align: center;
  padding: 10px;
}
.img-board-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin-right: 10px;
}
.pin-button {
  outline: none;
  font-size: 13px;
  font-weight:bold;
  text-align: start;
  width: 100%;
  white-space: normal;
  height: auto;
}

.pin-button-container{
  border-radius: 0px 20px 20px 0px;
  background-color: $logoColor;
  color: $header-background;
  border: 2px $logoColor solid;
  width: 40%;

  overflow-wrap: break-word;


}
.pin-button[disabled]{
  background-color:lightgray;
  border: 3px lightgray solid;
  color: black;
}

.select-board {
  width: 100%;
  padding-left: 4px;
  .select-label{
    color: black;
  }
}

.select-board-icon {
  vertical-align: middle;
}
