<form [formGroup]="boardSelectForm" (ngSubmit)="addPinToBoard()">
  <mat-form-field class="select-board">
    <mat-label>Choose a board</mat-label>
    <mat-select (click)="getBoards()" formControlName="board" placeholder="Choose a board" #boardSelect>
      <!-- Search board -->
      <mat-option>
        <ngx-mat-select-search placeholderLabel="Search"
        formControlName="boardFilterCtrl"> </ngx-mat-select-search>
      </mat-option>
      <!-- Create board button -->
      <button type="button" class="add-button" (click)="openAddBoardDialog()">
        <mat-icon style="color: #cc2127" class="add-icon">add_circle</mat-icon>
        <strong><span>Create board</span></strong>
      </button>

      <mat-divider></mat-divider>

      <!-- Boards -->

      <mat-option *ngFor="let board of filteredBoards | async; let i = index" [value]="board">
        <strong>
          <span>
            <ng-container *ngIf="imageUrlBoards[i]; else greyPic">
              <img [src]="imageUrlBoards[i]" alt="tzapa" class="img-board-thumbnail" id="img-thumbnail" />
            </ng-container>
            <ng-template #greyPic>
              <img src="../../../assets/images/light_grey.jpg" alt="tzapa" class="img-board-thumbnail" id="img-thumbnail" />
            </ng-template>
          </span>
          {{ board.title }}</strong
        >
      </mat-option>

    </mat-select>
    </mat-form-field>


    <button mat-button class="pin-button" type="submit" [disabled]="isSaved">
       {{isSaved==false?'Add to board':'Saved'}}
      </button>
</form>

