<app-header></app-header>
<ng-container *ngIf="isLoaded; else loading">
<div class="board-info shaddow">
  <div class="board-details-container">
  <div class="boardName">
    {{ boardTitle }}
  </div>
  <div *ngIf="isHisPage()" class="delete-board-container" >
    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-button">
      <mat-icon class="more-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDeleteBoardDialog()" class="menu-item">
        <span>Delete</span>
        <mat-icon class="delete-icon">delete_outline</mat-icon>
      </button>

    </mat-menu>
  </div>
</div>
    <div >
      <img [src]="imageUrl" class="profile-photo" (click)="navigateToUser()" />
    </div>
  <div class="username">
    {{ user.fullname }}
  </div>
</div>

<div class="content">
  <div infinite-scroll infiniteScrollDistance="2" infiniteScrollThrottle="50" (scrolled)="onScroll()">
    <div class="photos-container">
      <app-pin
        *ngFor="let photo of photos"
        title="{{ photo.title }}"
        photo="{{ photo.pictureData }}"
        id="{{ photo.photoId }}"
      >
      </app-pin>
    </div>
  </div>
  <div class="spinner">
    <ngx-spinner bdOpacity="0.9" bdColor="" size="default" color="white" type="ball-pulse-sync" [fullScreen]="false">
    </ngx-spinner>
  </div>
</div>


</ng-container>
<ng-template #loading>
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = ""
  size = "default"
  color = "white"
  type = "ball-spin-clockwise-fade"
  [fullScreen] = "false">
  </ngx-spinner>
</ng-template>
