@import '../../../../assets/styles/colors.scss';


.photo-card {
  border-color: white;
  border-radius: 7%;
  padding:2%;
  width: 100%;
}

.photo-file {
  width: 100%;
  height: auto;
  border-radius: 7%;
}

.photo-title {
  text-align: center;
  font-size: 18px;
  padding-top: 2%;
}


::ng-deep .add-to-board .pin-button{
  opacity: 0;
  background-color: $logoColor;
  color: $header-background;
  width: 105px;
  height: 50px;
}

::ng-deep .add-to-board .select-board{
  opacity: 0;
}


.photo-card:hover{
  cursor: zoom-in;
}
.photo-card:hover ::ng-deep .add-to-board{
 .pin-button, .select-board{
  opacity: 0.8;
}
}

.photo-card:hover ::ng-deep .add-to-board{

.pin-button:hover{
  opacity: 1;
}
.select-board:hover{
  opacity: 1;
}
}

.save-container{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}


@media (max-width: 850px) {

  .save-container{
    .pin-button, .board-button{
      width: 90px;
      font-size: 14px;
    }
  }

}

