@import '../../../../assets/styles/colors.scss';


.photo-card {
  border-color: white;
  border-radius: 7%;
  padding:2%;
  width: 100%;
}

.photo-file {
  width: 100%;
  height: 30vw;
  object-fit:contain;
  border-radius: 7%;
}

.photo-title {
  text-align: center;
  font-size: 18px;
  padding-top: 2%;
}

::ng-deep .add-to-board {
  .select-board-container, .pin-button {
    opacity: 0;
  }

}


.photo-card:hover{
  cursor: zoom-in;
}
.photo-card:hover ::ng-deep .add-to-board{
 .pin-button, .select-board-container{
  opacity: 0.8;
}
}

.photo-card:hover ::ng-deep .add-to-board{

.pin-button:hover{
  opacity: 1;
}
.select-board-container:hover{
  opacity: 1;
}
}

.save-container{
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
}


@media (max-width: 850px) {

  .container{
    width: 80%;
  }

}

