  <div class="dialog-title-content">
    <div class="dialog-title">
      <h2 mat-dialog-title>{{followDialogModel.dialogTitle}}</h2>
    </div>
    <button class="close-button" mat-raised-button matDialogClose>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <mat-form-field>
      <div *ngFor="let item of followModel">
        <div class="follow-dialog-item-content">
          <div class="user-profile-picture-content">
            <img [src]="user.profilePicture">
          </div>
          <div class="user-fullname-content">
            <h4 class="user-full-name-text">{{item.username}}</h4>
          </div>
          <div class="follow-button-content">
            <button class="follow-button">Follow</button>
          </div>
        </div>
      </div>
    </mat-form-field>
  </div>
